/* App.css */  
  html{
    background-color: #212529;
  }
  .meme-inicio{
    width: 300px;
    height: 300px;
  }
  
  .color-selector:hover {
    cursor: pointer;
  }
  li{
    text-decoration: none;
  }
  
  .amarillo {
    color:yellow;
  }
  
  .rojo {
    color: Coral;
  }
  
  .azul {
    color: RoyalBlue;
  }
  
  .verde {
    color: PaleGreen;
  }
  
  .blanco {
    color: WhiteSmoke;
  }